%% -*- erlang -*-
{erl_opts, [debug_info]}.
{cover_enabled, true}.
{post_hooks, [
  {"linux|darwin", compile, "rm -f erlando.state"}
]}.

{deps, [
  {'async',   {git, "https://github.com/slepher/async.git",   {tag, "0.3.2"}}}
]}.

{profiles, [
  {test, [
    {erl_opts, [{parse_transform, astranaut_disable_tco}, nowarn_export_all]}
  ]}
]}.
