%% -*- erlang -*-
{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps, [
  {'erlando', {git, "https://github.com/slepher/erlando.git", {tag, "2.1.2"}}},
  {'async',   {git, "https://github.com/slepher/async.git",   {tag, "0.2.0"}}}
]}.

{profiles, [
  {test, [
    {deps, [{'disable_tco', {git, "https://github.com/slepher/disable_tco.git", {branch, "master"}}}]},
    {erl_opts, [{parse_transform, disable_tco}, nowarn_export_all]}
  ]}
]}.
